*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nave{
    width: 80px;
    height: 80px;
    background-image: url(img/nave.png);
    background-size: cover;
    position: absolute;
    bottom: 30px;
    left: 50%;
         
}

body{
    background-image: url(img/espacio.jpg);
    background-size: cover;
}

.bala{
    width: 5px;
    height: 50px;
    background-color: rgb(247, 244, 90);
    border-radius: 8px;
    box-shadow: 0px 0px 40px 20px #0ff;
    position: absolute;
}

.enemigo{
    width: 80px;
    height: 50px;
    background-image: url(img/roca.png);
    background-size: cover;
    position: absolute;
    top: 0;
}

#lives{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 2em;
    color: rgb(245, 222, 19);
}

i{
    color: rgb(37, 231, 238);
}

#times{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2em;
    color: aqua;

}

